@import "./../../assets/scss/partials/global";

.spacing {
  padding-top: 100px;
  padding-bottom: 100px;
}

.btn {
  margin-top: 180px;
}

button img {
  cursor: pointer;
}

.date-field {
  @extend .rectangle-5;
  width: 153px;
}
