<div class="scrollable-content">
  <section>
    <article class="d-flex setup-header">
      <div class="align-self-center title">
        <div>{{'COMMON.SUB_HEADER'| translate }}</div>
      </div>
    </article>
  </section>

  <article class="stepper-container">
    <div class="d-flex stepper">
      <div *ngFor='let step of stepper; let i = index; let l = last' class="d-flex">
        <div class="d-flex flex-column step-container">
          <div class="step">
            <a class="current" routerLink="{{step.stepUrl}}" [ngClass]="{
                          current: step.isCurrent,
                          completed: step.isCompleted,
                          disabled: step.isDisabled
                          }">
              <span *ngIf="step.isCompleted; then completedStep else incompleteStep"></span>
              <ng-template #completedStep>
                <img src="{{imageDir}}assets/images/complete.svg" class="circle" alt="step-circle"/>
              </ng-template>
              <ng-template #incompleteStep>
                <span class="circle">{{ i+1 }}</span>
              </ng-template>
              <span class="label">{{ step.stepName }}</span>
            </a>
          </div>
        </div>
        <div *ngIf="l" class="align-self-center flex-column last-divider"></div>
        <div *ngIf="!l" class="align-self-center flex-column horizontal-divider" [ngClass]="{'last-divider': step.isLastStep}"></div>
      </div>
    </div>
  </article>

  <app-contract-information></app-contract-information>

  <router-outlet></router-outlet>
</div>
