<div class="orient">
  <div class="split-case-fee">
    <strong> {{'SPLIT_CASE_FEE_LABEL.SPLIT_CASE_FEE'| translate }} </strong>
  </div>
  <div class="following-item-code">
    {{'SPLIT_CASE_FEE_LABEL.CALCULATION_METHOD'| translate }}
  </div>
  <div class="layer">
    {{'SPLIT_CASE_FEE_LABEL.FULL_CASE_PRICE'| translate }}
  </div>
</div>

<div class="pt-3">
  <ngx-datatable class="bootstrap" [headerHeight]="54" [limit]="100" [columnMode]="'force'" [rowHeight]="32" [rows]="rows"
    [selected]="selected" [selectionType]="'single'">
    <ngx-datatable-column name="Product Type" prop='productType' [canAutoResize]="true" [resizeable]="false" [sortable]="false" [draggable]="false"
      [minWidth]="300" [maxWidth]="300">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
        <div class="pt-1"> {{value | titlecase }} </div>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Split Case Fee" prop='splitCaseFee' [canAutoResize]="true" [resizeable]="false" [sortable]="false" [draggable]="false"
      [minWidth]="127" [maxWidth]="127">
      <ng-template ngx-datatable-header-template let-column="column">
        {{ column.name }}
        <ng-template #tipContent>
          <div class="tooltip-box">
            <div class="tooltip-label">
              {{'SPLIT_CASE_FEE_LABEL.HELPER_TEXT_DOLLAR_TITLE'| translate }}
            </div>
            <div class="tooltip-body">
              {{'SPLIT_CASE_FEE_LABEL.HELPER_TEXT_DOLLAR_CONTENT'| translate }}
            </div>
            <div class="tooltip-label">
              {{'SPLIT_CASE_FEE_LABEL.HELPER_TEXT_PERCENT_TITLE'| translate }}
            </div>
            <div class="tooltip-body">
              {{'SPLIT_CASE_FEE_LABEL.HELPER_TEXT_PERCENT_CONTENT'| translate }}
            </div>
          </div>
        </ng-template>
        <img src="{{imageDir}}assets/images/info-icon.svg" alt="info icon" class="info-icon"  [ngbTooltip]="tipContent" data-placement="bottom"
          container="body">
      </ng-template>
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
        <input class="splitcase" autofocus type="text" [value]="value" ondrop="return false;" (blur)="onblurSplitcase($event, row)"
          (keypress)="onSplitcaseKeyPress($event,row)" onpaste="return false;" />
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="" prop='unit' [canAutoResize]="true" [resizeable]="false" [sortable]="false" [draggable]="false"
      [minWidth]="105" [maxWidth]="105">
      <ng-template ngx-datatable-header-template let-column="column"></ng-template>
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
        <div id="radio-group">
          <label>
            <input class="form-check-input" value="$" type="radio" name="{{rowIndex}}-unit" id="{{rowIndex}}-unit" [checked]="value == '$'"
              (click)="onUnitClick($event, row)">
            <span> {{'SPLIT_CASE_FEE_LABEL.UNIT_DOLLAR'| translate }}</span>
          </label>
          <label>
            <input class="form-check-input" value="%" type="radio" name="{{rowIndex}}-unit" id="{{rowIndex}}-unit" [checked]="value == '%'"
              (click)="onUnitClick($event, row)">
            <span>{{'SPLIT_CASE_FEE_LABEL.UNIT_PERCENT'| translate }}</span>
          </label>
        </div>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Effective Date" prop='effectiveDate' [canAutoResize]="true" [resizeable]="false" [sortable]="false" [draggable]="false"
      [minWidth]="130" [maxWidth]="130">
      <ng-template ngx-datatable-cell-template let-value="value">
        <div class="pt-1"> {{value}} </div>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Expiration Date" prop='expirationDate' [canAutoResize]="true" [resizeable]="false" [sortable]="false"
      [draggable]="false" [minWidth]="142" [maxWidth]="142">
      <ng-template ngx-datatable-cell-template let-value="value">
        <div class="pt-1"> {{value}} </div>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Warning" [canAutoResize]="true" [resizeable]="false" [sortable]="false" [draggable]="false"
      [minWidth]="210">
      <ng-template ngx-datatable-header-template let-column="column">
      </ng-template>

      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">

        <div class="p-1">
          <span class="splitcase-warning" *ngIf="validateData(row)">
            {{'SPLIT_CASE_FEE_ERRORS.GREATER_THAN_5$_OR_49%'| translate }}
          </span>
          <span class="splitcase-warning" *ngIf="row.splitCaseFee == 0.00">
            {{'SPLIT_CASE_FEE_ERRORS.ZERO_SPLIT_CASE_FEE'| translate }}
          </span>
          <span *ngIf="rowIndex == 0">
            <button type="button" class="btn btn-primary pull-right copy-design" (click)="copyRow($event, row)">{{'COMMON.BTN_COPY_DOWN'| translate }}</button>
          </span>
        </div>
      </ng-template>

    </ngx-datatable-column>

  </ngx-datatable>
</div>
<hr>
<div class="fixed-bottom">
  <hr class="hr-adjust">
  <button type="submit" class="pull-right btn btn-primary mb-3" (click)="saveSplitCaseFee()">{{'COMMON.BTN_REVIEW'| translate }}</button>
</div>
