@import "variables";
@import "~ngx-toastr/toastr";
@import "datatable";


.btn {
  margin-right: 20px;
  font-size: $gfs-fontsize-16;
  font-weight: bold;
  font-family: $gfs-font-family;
}

.btn-primary {
  color: $gfs-white;
  background-color: $gfs-lt-navy-blue;
  border-color: $gfs-lt-navy-blue;
}

.btn-primary:hover {
  cursor: pointer;
}

.orient {
  padding-left: 20px;
  padding-right: 20px;
}

.app-footer {
  position: relative;
  bottom: 0;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  font-family: $gfs-font-family;
  height: 100%;
}

.form-control-sm {
  border-radius: 0;
}

.input-group-addon {
  background-color: $gfs-header-color;
  padding: 5px;
  border-radius: 0;
  width: 36px;
  height: 36px;
}

label {
  width: 300px;
  height: 18px;
  font-family: $gfs-font-family;
  font-size: $gfs-fontsize-14;
  font-weight: bold;
  line-height: 1.29;
  text-align: left;
  color: $gfs-label-black;
}

.rectangle-5  {
  width: 300px;
  height: 36px;
  border-radius: 2px;
  background-color: $gfs-white;
  border: solid 1px $gfs-gray-3;
}

.form-control:focus {
  box-shadow: none;
}

.date-field {
  @extend .rectangle-5;
  width: 153px;
}

.horizontal-line {
  width: 100%;
  height: 1px;
  background-color: $gfs-gray-4;
}

button:focus {
  outline: none;
}

.btn-primary.focus, .btn-primary:focus {
  box-shadow: none;
}
