@import "variables";

.gfs-radiobutton * {
  box-sizing: border-box;
}

.gfs-radiobutton *:before,
.gfs-radiobutton *:after {
  box-sizing: border-box;
}

.gfs-radiobutton input[type="radio"] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.gfs-radiobutton input[type="radio"]:focus + label:before,
.gfs-radiobutton input[type="radio"]:hover + label:before {
  border-color: $gfs-radio-blue;
  background-color: $gfs-radio-white;
}

.gfs-radiobutton input[type="radio"]:active + label:before {
  transition-duration: 0s;
}

.gfs-radiobutton input[type="radio"] + label {
  position: relative;
  padding: 0 5px 5px 30px;
  vertical-align: middle;
  cursor: pointer;
}

.gfs-radiobutton input[type="radio"] + label:before {
  box-sizing: content-box;
  content: "";
  color: $gfs-radio-blue;
  position: absolute;
  top: 43%;
  left: 4px;
  width: 16px;
  height: 16px;
  margin-top: -9px;
  border: 1px solid $gfs-gray-3;
  text-align: center;
  transition: all 0.4s ease;
}

.gfs-radiobutton input[type="radio"] + label:after {
  box-sizing: content-box;
  content: "";
  background-color: $gfs-lt-navy-blue;
  position: absolute;
  top: 32%;
  left: 6px;
  width: 14px;
  height: 14px;
  margin-top: -5px;
  transform: scale(0);
  transition: transform 200ms ease-out;
}

.gfs-radiobutton input[type="radio"]:disabled + label:before {
  border-color: $gfs-radio-border;
}

.gfs-radiobutton input[type="radio"]:disabled:focus + label:before,
.gfs-radiobutton input[type="radio"]:disabled:hover + label:before {
  background-color: inherit;
}

.gfs-radiobutton input[type="radio"]:checked + label:before {
  animation: borderscale 300ms ease-in;
  background-color: $gfs-white;
}

.gfs-radiobutton input[type="radio"]:checked + label:after {
  transform: scale(1);
}

.gfs-radiobutton input[type="radio"] + label:before,
.gfs-radiobutton input[type="radio"] + label:after {
  border-radius: 50%;
}

.gfs-radiobutton.pure-checkbox-inline,
.gfs-radiobutton.pure-radiobutton-inline {
  display: inline-block;
}

.radio-label{
  font-weight: unset;
}
