@import "../../../assets/scss/partials/variables";

footer {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: $gfs-fontsize-11;
  box-shadow: 0 -2px 4px 0 $gfs-header-boxshadow;
  padding: 15px 0 15px 0;
}
