<ngx-datatable class="bootstrap" [headerHeight]="54" [columnMode]="'flex'" [rowHeight]="32" [rows]="rows"  [selected]="selected"
[selectionType]="'single'">

  <ngx-datatable-column name="Product Type" prop='productType' [canAutoResize]="true" [resizeable]="false" [sortable]="false" [draggable]="false" [flexGrow]="0.45">
    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
      <div class="pt-1"> {{value | titlecase}} </div>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Markup"  prop='markup' [canAutoResize]="true" [resizeable]="false" [sortable]="false" [draggable]="false"  [flexGrow]="0.25">
    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
      <input class="markup" autofocus type="text" [value]="value" (blur)="onblurMarkup($event, row)" (keypress)="onMarkupKeyPress($event, row)" (keyup)="onMarkupKeyUp($event, row)"
        onpaste="return false;" ondrop="return false;">
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="" prop='unit' [canAutoResize]="true" [resizeable]="false" [sortable]="false" [draggable]="false" [flexGrow]="0.15">
    <ng-template ngx-datatable-header-template let-column="column"></ng-template>
    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
      <div id="radio-group">
        <label>
          <input class="form-check-input" value="$" type="radio" id="{{rowIndex}}-unit" [checked]="value == '$'"
            (change)="onUnitChange($event, row)">
          <span>{{ 'DATATABLE_LABEL.DOLLAR'| translate }}</span>
        </label>
        <label>
          <input class="form-check-input" value="%" type="radio" id="{{rowIndex}}-unit" [checked]="value == '%'"
            (change)="onUnitChange($event, row)">
          <span>{{ 'DATATABLE_LABEL.PERCENT'| translate }}</span>
        </label>
      </div>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Markup Type" prop='markupType' [canAutoResize]="true" [resizeable]="false" [sortable]="false"
    [draggable]="false" [flexGrow]="0.30">
    <ng-template ngx-datatable-header-template let-column="column">
      {{ column.name }}
      <ng-template #tipContent>
        <div class="tooltip-box">
          <div class="tooltip-label">
              {{ 'HOVER_INFO.PER_CASE_TITLE'| translate }}
          </div>
          <div class="tooltip-body">
              {{ 'HOVER_INFO.PER_CASE_BODY'| translate }}
          </div>
          <div class="tooltip-body">
              {{ 'HOVER_INFO.PER_CASE_EX_STMT'| translate }}
          </div>
          <div class="tooltip-body">
              {{ 'HOVER_INFO.PER_CASE_EXAMPLE'| translate }}
          </div>
          <div class="tooltip-label">
              {{ 'HOVER_INFO.PER_SELL_TITLE'| translate }}
          </div>
          <div class="tooltip-body">
              {{ 'HOVER_INFO.PER_SELL_BODY'| translate }}
          </div>
          <div class="tooltip-body">
              {{ 'HOVER_INFO.PER_SELL_EX_STMT'| translate }}
              {{ 'HOVER_INFO.PER_SELL_EXAMPLE'| translate }}
          </div>
          <div class="tooltip-label">
            {{ 'HOVER_INFO.PER_WEIGHT_TITLE'| translate }}
        </div>
        <div class="tooltip-body">
          <em>{{ 'HOVER_INFO.PREFIX_CATCH'| translate }}
          <u>{{ 'HOVER_INFO.NON_CATCH_WEIGHT'| translate }}</u>
          {{ 'HOVER_INFO.SUFFIX_NON_CATCH_WEIGHT'| translate }}</em>
        </div>
        <div class="tooltip-body">
          <em>{{ 'HOVER_INFO.NON_CATCH_WEIGHT_EXAMPLE'| translate }}</em>
          <div><em>{{ 'HOVER_INFO.NON_CATCH_WEIGHT_EXAMPLE_1'| translate }}</em></div>
          <div><strong><em>{{ 'HOVER_INFO.NON_CATCH_WEIGHT_EXAMPLE_2'| translate }}</em></strong></div>
        </div>
        <br>
        <div class="tooltip-body">
          <em>{{ 'HOVER_INFO.PREFIX_CATCH'| translate }}
            <u>{{ 'HOVER_INFO.CATCH_WEIGHT'| translate }}</u>
            {{ 'HOVER_INFO.SUFFIX_CATCH_WEIGHT'| translate }}</em>
        </div>
        <div class="tooltip-body">
          <em>{{ 'HOVER_INFO.CATCH_WEIGHT_EXAMPLE'| translate }}</em>
          <div><em>{{ 'HOVER_INFO.CATCH_WEIGHT_EXAMPLE_1'| translate }}</em></div>
          <div><strong><em>{{ 'HOVER_INFO.CATCH_WEIGHT_EXAMPLE_2'| translate }}</em></strong></div>
        </div>
        </div>
      </ng-template>
      <img src="{{imageDir}}assets/images/info-icon.svg" alt="info icon" class="info-icon"  [ngbTooltip]="tipContent"
        data-placement="bottom" container="body">
    </ng-template>

    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
      <select class="markup-type" [value]="value" (change)="onMarkupTypeChange($event, row)" [disabled]="(row.unit == '%') ? true : null">
        <option value="1">{{ 'DATATABLE_LABEL.SELL_UNIT' | translate}}</option>
        <option value="2">{{ 'DATATABLE_LABEL.PER_CASE' | translate}}</option>
        <option value="3">{{ 'DATATABLE_LABEL.PER_WEIGHT' | translate}}</option>
      </select>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Effective Date" prop='effectiveDate' [canAutoResize]="true" [resizeable]="false" [sortable]="false" [draggable]="false" [flexGrow]="0.23">
    <ng-template ngx-datatable-cell-template let-value="value">
      <div class="pt-1"> {{value}} </div>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Expiration Date" prop='expirationDate' [canAutoResize]="true" [resizeable]="false" [sortable]="false"
    [draggable]="false" [flexGrow]="0.24">
    <ng-template ngx-datatable-cell-template let-value="value">
      <div class="pt-1"> {{value}} </div>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column [canAutoResize]="true" [resizeable]="false" [sortable]="false" [draggable]="false" [flexGrow]="1">
    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
      <div class="pt-1">
      <span *ngIf="validateData(row)" >
        <span class="warning-text">{{ 'CUST_INFO_ERRORS.MARKUP_MIN_MAX_ERROR' | translate}}</span>
      </span>
      <span *ngIf="rowIndex == 0">
        <button type="button" class="btn btn-primary copy-design pull-right" (click)="copyRow($event, row)">{{ 'COMMON.BTN_COPY_DOWN' | translate}}</button>
      </span>
    </div>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>
<div class="horizontal-line"></div>

<div [formGroup]="markupGridForm">
  <div class="d-flex flex-row orient">
    <div class="p-1">
      <app-toggle (selectedValue)="onChangeExpireLower($event)" [toggelLabel]="expireLowerLabel" [toggleDefaultState]="expireLowerVal"
        [toggleForm]="markupGridForm.controls.expireLowerToggle"></app-toggle>
    </div>
    <img src="{{imageDir}}assets/images/info-icon.svg" alt="info icon" class="info-icon toggle-helper"  [ngbTooltip]="'HOVER_INFO.EXPIRE_LOWER' | translate"
      data-placement="bottom">
      <div class="align-save">
        <span *ngIf="markupGridDetails.isCompleted; then savedMarkup else unsavedMarkup"></span>
            <ng-template #savedMarkup>
              <button type="button" [disabled]="true" class="pull-right btn btn-primary save-markup" (click)="onSubmit($event)"> {{ 'DATATABLE_LABEL.MARKUP_SAVED' | translate}} </button>
            </ng-template>
            <ng-template #unsavedMarkup>
                <button type="button" [disabled]="checkIsDisabled()" class="pull-right btn btn-primary save-markup" (click)="onSubmit($event)">{{ 'DATATABLE_LABEL.SAVE_MARKUP' | translate}} </button>
            </ng-template>
      </div>
  </div>
</div>




