<div class="mb-2">
  <div class="orient">
    <p *ngIf="validDistributionCenterList" class="distribution-centers vertical-spacing">
      <strong>{{'DISTRIBUTION_CENTERS.DISTRIBUTION_TITLE'| translate }}</strong>
    </p>
    <p *ngIf="!validDistributionCenterList" class="distribution-centers vertical-spacing warning-font">
      <strong>{{'DISTRIBUTION_CENTERS.DISTRIBUTION_TITLE'| translate }}</strong>
    </p>
    <div *ngIf="validDistributionCenterList; else warningSubheader">
      <p>
        {{'DISTRIBUTION_CENTERS.DISTRIBUTION_SUBHEADER'| translate }}
      </p>
    </div>
    <ng-template #warningSubheader>
      <p>{{'DISTRIBUTION_CENTERS.DISTRIBUTION_SUBHEADER_WARN'| translate }}</p>
    </ng-template>
  </div>


  <div class="orient">
    <div class="row">
      <div class="col-sm-8">
        <button class="select-all" (click)="selectALL()">{{'DISTRIBUTION_CENTERS.SELECT_ALL'| translate }}</button>
      </div>
      <div class="col-sm-4">
        <button class="clear" (click)="clear()">{{'DISTRIBUTION_CENTERS.CLEAR'| translate }}</button>
      </div>
    </div>
  </div>
</div>

<form #dcForm="ngForm" novalidate>
  <div class="orient">
    <div class="row form-group">
      <div class="col-sm-9">
        <div class="horizontal-line"></div>
        <div class="d-flex flex-wrap">
          <div class="setWidth" *ngFor="let distributionCenter of distributionCenters ">
            <div class="alignDC checkbox">
              <input id="{{distributionCenter.shortName}}" type="checkbox" name="{{distributionCenter.dcNumber}}" value="{{distributionCenter.dcNumber}}"
                [(ngModel)]="isActive[distributionCenter.dcNumber]" class="css-checkbox">
              <label for="{{distributionCenter.shortName}}" class="css-label">
                {{distributionCenter.name}}
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
      </div>
      <div class="orient warning-text" *ngIf="validDistributionCenterList == false">
        <p>
          <em class="fa fa-exclamation-triangle" aria-hidden="true"></em>
          <em> {{'DISTRIBUTION_CENTERS_ERRORS.INVALID_DISTRIBUTION_CENTER_LIST'| translate }} </em>
        </p>
      </div>
    </div>
    <div class="fixed-bottom">
      <hr class="hr-adjust">
      <button type="submit" class="pull-right btn btn-primary" (click)="saveDistributionCenters(dcForm)">{{'COMMON.BTN_MARKUP'| translate }}</button>
    </div>
  </div>
</form>
