@import '../../../assets/scss/partials/_variables';
@import '../../../assets/scss/partials/global';
@import '../../../assets/scss/partials/checkbox';
@import '../../../assets/scss/partials/mixins';

.vertical-spacing {
  margin-top: 20px;
  margin-bottom: 10px;
}

.distribution-centers {
  width: 230px;
  height: 24px;
  font-family: $gfs-font-family;
  font-size: $gfs-fontsize-18;
  font-weight: 500;
  line-height: 1.33;
  text-align: left;
  color: $gfs-stepper-black;
}

.select-all {
  width: 92px;
  height: 18px;
  font-family: $gfs-font-family;
  font-size: $gfs-fontsize-14;
  font-weight: bold;
  line-height: 1.29;
  letter-spacing: 1.2px;
  text-align: center;
  color: $gfs-lt-navy-blue;
  background-color: $gfs-white;
  border: none;
  text-decoration: underline;
  padding: 0;
  cursor: pointer;
}

.clear {
  @extend .select-all;
  width: 50px;

}

.alignDC {
  width: 40%;
  padding-bottom: 40px;
}

.fixed-bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: $gfs-white;
}

.css-label {
  background-image: url('./../../../assets/images/checkbox.png');
}

.hr-adjust {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 20px;
  background-color: $gfs-white;
}

.btn {
  margin-bottom: 20px;
}

hr{
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 20px;
}

.setWidth {
  width: 33%;
}

.horizontal-line {
  @include horizontal-separator(97%);
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 20px;
}

.warning-font {
  color: $gfs-red;
}

.warning-text {
  @extend .warning-font;
  font-weight: bold;
  font-size: 14px;
}

