@import "../../../assets/scss/partials/global";
@import "../../../assets/scss/partials/radio-buttons";
@import "../../../assets/scss/partials/variables";
@import "../../../assets/scss/partials/mixins";

.form-check-inline {
  display: inline-flex;
}

input.ng-invalid.ng-touched,
select.ng-invalid.ng-touched {
  border: 1px solid $gfs-warning;
}

.pricing-information {
  @include gfs-sub-headers(200px);
  margin-top: 20px;
}

.text {
  width: 27px;
  height: 30px;
  font-family: $gfs-font-family;
  font-size: $gfs-fontsize-14;
  line-height: 2.14;
  text-align: left;
  color: $gfs-label-black;
}

.fa-info-circle:before {
  color: $gfs-gray-2;
}

.toggle-helper {
  position: relative;
  top: 13px;
}

.label-helper {
  position: relative;
  color: $gfs-gray-2;
  top: -3px;
  right: 185px;
}

.vertical-spacing {
  margin-top: 20px;
  margin-bottom: 10px;
}

.text-box-space {
  margin-bottom: 20px;
}

.label-space {
  margin-bottom: 0;
}

button img {
  cursor: pointer;
}

.fixed-bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: $gfs-white;
}

.btn {
  margin-bottom: 20px;
}

.hr-adjust {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 20px;
  background-color: $gfs-white;
}

.date-text {
  padding-left: 10px;
  padding-top: 5px;
  width: 31px;
  height: 36px;
  font-family: $gfs-font-family;
  font-size: $gfs-fontsize-16;
  line-height: 1.5;
  text-align: left;
  color: $gfs-label-black;
}

.calendar-icon {
  width: 30px;
  height: 30px;
}

.gfs-label {
  height: 18px;
  font-family: $gfs-font-family;
  font-size: $gfs-fontsize-14;
  font-weight: bold;
  line-height: 1.29;
  text-align: left;
  color: $gfs-label-black;
  margin-bottom: 12px;
}

.schedule-cost {
  @extend .gfs-label;
  width: 285px;
}

.question-toggle {
  @extend .gfs-label;
  width: 512px;
}

.cost-model {
  @extend .gfs-label;
  width: 72px;
}

.info-icon {
  width: 15px;
  height: 15px;
}

.horizontal-dash {
  @include horizontal-separator(326px);
}

.seperator {
  @include horizontal-separator(500px);
  margin-top: 15px;
  margin-bottom: 15px;
}

.horizontal-line {
  @include horizontal-separator(100%);
  box-sizing: border-box;
  margin-left: 0;
  margin-top: 15px;
  margin-bottom: 15px;
}

.warning-icon {
  margin-left: 69px;
  width: 24px;
  height: 24px;
}

.warning-text {
  height: 16px;
  font-size: $gfs-fontsize-14;
  font-weight: bold;
  font-style: italic;
  line-height: 1.14;
  text-align: left;
  color: $gfs-orange;
}
